<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1066008035865-r4evj7diaft1ah0t62hhrqnqj9rjd9bj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1066008035865-r4evj7diaft1ah0t62hhrqnqj9rjd9bj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1066008035865-dhbe6ff6pk5m2shjje2179gq6o1ln0e4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB6JJdQ4YKdTD81xnyTNelsMfjTJWfDXf0</string>
	<key>GCM_SENDER_ID</key>
	<string>1066008035865</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.storise.app</string>
	<key>PROJECT_ID</key>
	<string>reading-app-8b8f3</string>
	<key>STORAGE_BUCKET</key>
	<string>reading-app-8b8f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1066008035865:ios:46da774f1b5989640f2088</string>
</dict>
</plist>